@import "./src/common/styles/variables";
.ant-form-item-label {
  color: darkblue !important;
}
.ant-form-item-control-input {
  outline: 0 !important;
  border-width: 0 0 2px !important;
}

.ant-layout{
  background: #FFFFFF !important;
}
.ant-input:hover{
  border-color : black !important;
}
.ant-input{
  border: none !important;
  border-bottom: 1px solid black !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.ant-form-item-label{
  white-space: initial !important
}
.ant-form-item-label > label::after{
  margin: 0px 8px 0px 8px !important;
}

.ant-form-item-label > label  {
  color: midnightblue !important;
}

.ant-select-selector{
  border: none !important;
  border-bottom: 1px solid black !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ant-page-header-heading-left.ant-page-header-heading-title {
  color: midnightblue ;
}

.ant-picker {
  border: none !important;
  border-bottom: 1px solid black !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  //width:285px !important;
}

.ant-page-header-heading-title.ant-page-header-heading-title {
  white-space: unset !important;
  color: darkblue;
}
.ant-page-header-heading-sub-title.ant-page-header-heading-sub-title {
  white-space: initial !important;
  color: darkblue;
}

.table-row-light {
  background-color: #ffffff;
}
.table-row-dark {
  background-color: #f2f2f2;
}

.ant-row .ant-form-item {
  margin-block-end: auto;
}
th{
  background-color: $color_darkGreen!important;
}

.ant-picker {
  width: 100%;
}

.label-padding {
  .ant-form-item-label{
    padding-bottom: 10px;
  }
  .ant-form-item-label > label::after {
    padding-bottom: 33px;
  }
}

a:not([href]):not([class]){
  text-decoration: underline;
}