@import "./src/common/styles/variables";

.page-container{
  padding: $m_20;
  .ant-form-item-label {
    color: midnightblue !important;
  }
  .ant-form-item-control-input {
    outline: 0 !important;
    border-width: 0 0 2px !important;
  }
  .ant-input:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .ant-layout{
    background: #FFFFFF !important;
  }
  .ant-input:hover{
    border-color : black !important;
  }
  .ant-input{
    border: none !important;
    border-bottom: 1px solid black !important;
  }
  .ant-form-item-label{
    white-space: unset !important
  }
  .ant-form-item-label > label::after{
    margin: 0px 8px 0px 8px !important;
  }

  .ant-form-item-label > label  {
    color: midnightblue !important;
  }

  .table-row-light {
    background-color: #ffffff;
  }
  .table-row-dark {
    background-color: #f2f2f2;
  }

  th{
    background-color: steelblue!important;
  }
  .outer-box{
    margin-left: $m_50;
    display: flex;
    flex-direction: row;
    width: 400px;
  }
  .dark-box{
    background-color:steelblue;
    width: 100%;
    padding-left: $m_20;
    border-bottom: 2px solid white !important;
  }
  .light-box{
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black !important;
  }
}
